{% extends "base.html" %}
{% block content %}
{% if not request.user.is_authenticated %}
<br/><br/><br/>
<div class="container">
  <form action="" method="POST">
    {% csrf_token %}
    {{ user_form.as_p }}
    <button type="submit" class="btn btn-primary">Регистрация</button>
  </form>
  <br/>
  <p>Вече имате създаден акаунт? <a href="{% url 'login-view' %}">Вход в системата</a>.</p>
  {% if error %}
  <br/>
  <p style="color: red">{{ error }}</p>
  {% endif %}
  {% else %}
  <br/>
  <p><b>{{ user.username }}</b>, Вие сте регистиран потребител и вече сте влезнали в системата. Искате ли да излзезете от профила си? <a href="{% url 'logout-view' %}">Изход</a>?</p>
  {% endif %}
</div>
{% endblock content %}
