{% extends "base.html" %}

{% block content %}
<style>
    .row-height {
    height: 20px;
  }
</style>
<div class="row justify-content-lg-center">
  <div class="col-lg-8 p-2">
    <h4>{{ question.question }}</h4>
    <div class="row p-2">
      <div class="col">
        <div class="d-grid gap-2">
          <button class="btn btn-outline-primary" type="button">A) {{ answers.0 }}</button>
        </div>
      </div>
      <div class="col">
        <div class="d-grid gap-2">
          <button class="btn btn-outline-primary" type="button">B) {{ answers.1 }}</button>
        </div>
      </div>
    </div>
    <div class="row p-2">
      <div class="col">
        <div class="d-grid gap-2">
          <button class="btn btn-outline-primary" type="button">
          С) {{ answers.2 }}</button>
        </div>
      </div>
      <div class="col">
        <div class="d-grid gap-2">
          <button class="btn btn-outline-primary" type="button">D) {{ answers.3 }}</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col col-lg-3">
    <table class="table">
  <thead>
    <tr>
      <th scope="col">Въпрос</th>
      <th scope="col">Сума</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-danger row-height">
      <th scope="row">15</th>
      <td>100 000</td>
    </tr>
    <tr class="table-danger row-height">
      <th scope="row">14</th>
      <td>50 000</td>
    </tr>
    <tr class="table-danger row-height">
      <th scope="row">13</th>
      <td>30 000</td>
    </tr>
    <tr class="table-danger row-height">
      <th scope="row">12</th>
      <td>20 000</td>
    </tr>
    <tr class="table-danger row-height">
      <th scope="row">11</th>
      <td>10 000</td>
    </tr>
    <tr class="table-warning row-height">
      <th scope="row">10</th>
      <td>5000</td>
    </tr>
    <tr class="table-warning row-height">
      <th scope="row">9</th>
      <td>3000</td>
    </tr>
    <tr class="table-warning row-height">
      <th scope="row">8</th>
      <td>2000</td>
    </tr>
    <tr class="table-warning row-height">
      <th scope="row">7</th>
      <td>1500</td>
    </tr>
    <tr class="table-warning row-height">
      <th scope="row">6</th>
      <td>1000</td>
    </tr>
    <tr class="table-success row-height">
      <th scope="row">5</th>
      <td>500</td>
    </tr>
    <tr class="table-success row-height">
      <th scope="row">4</th>
      <td>400</td>
    </tr>
    <tr class="table-success row-height">
      <th scope="row">3</th>
      <td>300</td>
    </tr>
    <tr class="table-success row-height">
      <th scope="row">2</th>
      <td>200</td>
    </tr>
    <tr class="table-success row-height">
      <th scope="row">1</th>
      <td>100</td>
    </tr>
  </tbody>
</table>
  </div>
</div>
{% endblock content %}
